body {
    margin: 0;
}

#fixed {
    background: #eee;
    position: fixed;
    padding: 47px 65px 47px 65px;
}

.container {
    margin: 0 auto;
    width: 33%;
}

h1 {
    margin: 0;
    padding-top: 60px;
}

#relative {
    background: #eee;
    position: relative;
    padding: 10px 0 130px 0;
    text-align: center;
}

#absolute {
    background: #999;
    position: absolute;
    bottom: 0;
    /*puts div right at bottom*/
    right: -30px;
    /*puts div in right corner*/
    padding: 30px 50px 30px 50px;
}